<div>
  <br>
  <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
   <div class="form-group">
    <label for="name"><b>Name</b></label>
    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Enter name" />
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
   <div class="form-group">
    <label for="email"><b>Email address</b></label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
   <div class="form-group">
    <label for="phone"><b>Phone</b></label>
    <input type="text" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter phone number" />
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
   <div class="form-group">
    <label for="name"><b>Description</b></label>
    <textarea type="text" class="form-control" id="description" aria-describedby="phone" placeholder="Enter description"></textarea>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
   <input type="button" name="submit" value="Submit" class="btn btn-primary" />
  </div>
</div>
</div>
