body {
    margin: 0;
}

.prodHeader
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.divMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b6ca3;
}
.divMenu li {
    float: left;
}

.divMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.divMenu li a:hover {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #FF8C00;
}

.divMenu li a:active {
    text-decoration: none !important;
}

.btn-primary:hover
{
cursor: pointer;
}
.btn
{
cursor: pointer;
}

